.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7rem;
    line-height: .1rem;
    padding-bottom: 3rem;
}

.h1 {
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: normal;
}

.rows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.4rem;
}

:hover.link {
    color: white;
    
}

.box {
    background-color: rgb(241, 150, 46);
}

