.container {
    display: flex;
    flex-direction: column;
}

.h1 {
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: normal;
}

.rows {
    display: flex;
    justify-content: space-around;
}