.container {
    display: flex;
    justify-content: space-evenly;
    
}

.block1 {
    background-image: url(https://i.imgur.com/f69CzXA.png);
    background-size: cover;
    background-position: top;
    width: 100rem;
    height: 17rem;
}

img {
    width: 45rem;
    height: 18rem;
}

span {
    color: rgb(241, 150, 46);
}

h4 {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    color: white;
}

:hover.btn {
    background-color:  rgb(241, 150, 46);
}

.btn {
    background-color: gray;
    display: inline-block;
    padding: .1rem 2rem;
    /* height: 3.5rem; */
    /* width: 8rem; */
}

.block2 {
    background-color: rgb(41, 41, 41);
    width: 100rem;
    height: 17rem;

   
}

.content {
   
    color: white;
    text-align: center;
    
}