.container {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 2rem 0 2rem;

}

.img {
    border-radius: .1rem;
    width: 35rem;
}

/* Phone */ 
@media (max-width: 500px) {
    .container {
        flex-direction: column;
        margin: 2rem 1rem;
    }

    .img {
        width: 100%;
    }
}

