.container {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 2rem 0 2rem;

}

.img {
    border-radius: .1rem;
    width: 35rem;
}

/* Phone */ 
@media (max-width: 500px) {
    .container {
        flex-direction: column;
        margin: 2rem 1rem;
    }

    .img {
        width: 100%;
    }
}

/* Tabler */
@media (min-width: 501px) and (max-width: 768px) {
    .img {
        width: 95%;
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .container {
        margin: 2rem 2rem 0 2rem;
    }
}

