#navBar {
    background-color: rgb(36, 43 ,48);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}



.navLinks {
    color: white;
    text-decoration: none;
    padding: 1.3rem 1rem;
}

:hover.navLinks {
    color: rgb(241, 150, 46);
    background-color: rgb(70, 70, 70);
}

/* Phone */
@media (max-width:500px) {
    .navLinks {
        padding: 0rem .5rem;
    }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {
    .navLinks {
        padding: 1rem .6rem;
    }
}





