#navBar {
    background-color: rgb(41, 41, 41);
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
}



.navLinks {
    color: white;
    text-decoration: none;
    padding: 1.8rem 1rem;
}

:hover.navLinks {
    color: rgb(241, 150, 46);
    background-color: rgb(70, 70, 70);
}



