#navBar {
    background-color: rgb(36, 43 ,48);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}



.navLinks {
    color: white;
    text-decoration: none;
    padding: 1.3rem 1rem;
}

:hover.navLinks {
    color: rgb(241, 150, 46);
    background-color: rgb(70, 70, 70);
}

/* Phone */
@media (max-width:500px) {
    .navLinks {
        padding: .5rem  .5rem;
     }

    #navBar {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 1.4rem 0;
    }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {
    .navLinks {
        padding: 1rem .6rem;
    }

    #navBar {
        padding: 1.3rem 0;
        width: 100%;
    }
}

/* Normal */
@media (min-width: 769px) and (max-width: 1200px) {
    #navBar {
        padding: 1.3rem 0;
    }
}





