.h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.box1 {
    background-color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgb(63, 63, 63)
      ),
    url(https://i.imgur.com/1CsnBui.jpg);
    background-size: cover;
    height: 20rem;
    width: 28rem;
    text-align: center;
}
.box2 {
    background-color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgb(63, 63, 63)
      ),
    url(https://i.imgur.com/qupWuyA.jpg);
    background-size: cover;
    height: 20rem;
    width: 28rem;
    text-align: center;
    background-position: bottom;
}
.box3 {
    background-color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgb(63, 63, 63)
      ),
    url(https://i.imgur.com/6emEmhA.jpg);
    background-position: bottom;
    background-size: cover;
    height: 20rem;
    width: 28rem;
    text-align: center;
}

.content {
   padding-top: 12rem;
   color: white;
}