.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    
}

.white {
    width: 30rem;
    padding: 2rem 0;
    
}

.orange {
    width: 30rem;
    background-color:  rgb(241, 150, 46);
    padding: 2rem 0;
}

.icon {
    margin-top: 2rem;
}

.p {
    margin: 1rem 3rem;
}


/* Phone */
@media (max-width: 500px){
    .container {
        flex-direction: column;
    }

    .orange {
        width: 100%;
        padding: 1rem 0;
    }

    .white {
        width: 100%;
        padding: 1rem 0;
    }

    .p {
        margin: 0;
    }
}

/* Tablet */ 
@media (min-width: 501px) and (max-width: 768px){
   .orange {
        width: 100%;
        padding: 1rem 0;
    }

    .white {
        width: 100%;
        padding: 1rem 0;
    }

    .p {
        margin: 0;
    }
}

/* Normal */ 
@media (min-width: 769px) and (max-width: 1200px) {
    .orange {
        width: 100%;
        padding: 1rem 0;
    }

    .white {
        width: 100%;
        padding: 1rem 0;
    }

    .p {
        margin: 0;
    }
}