.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.white {
    width: 30rem;
    
}

.orange {
    width: 30rem;
    background-color:  rgb(241, 150, 46);
}

.icon {
    margin-top: 2rem;
}

.p {
    margin: 1rem 3rem;
}